/********************Drop-down style***********************/
ul {
	padding: 0;
	list-style-type: none;
	background-color: #f2f2f2;
}

ul li{
	display: inline-block;
	position: relative;
	line-height: 25px;
	text-align: left;
}

ul li a {
	display: block;
	padding: 8px 25px;
	color: #333;
	text-decoration: none;
}

ul li a:hover{
	color: #fff;
	background-color: #939393;
}

ul li ul.dropdown {
	min-width: 100%;
	background-color: #f2f2f2;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}


ul li:hover ul.dropdown{
	display: block;
}

ul li ul.dropdown li{
	display: block;
}


/********************Grid style***********************/

.container{
	width: 80%;
	height: auto;
	background-color: grey;
	margin: auto;
}

.grid {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;

}

.cell {
	width:100%;
	margin: 5px 0px 5px 0px;
	height: 150px;
	background-color: blue;
}

.red {
	transition: background-color 1s ease;
	background-color: red;
	cursor: pointer;
}

.red:hover {
	background-color: blue;
}

.yellow {
	transition: background-color 1s ease;
	background-color: yellow;
	cursor: pointer;
}

.yellow:hover {
	background-color: blue;
}

.green {
	transition: background-color 1s ease;
	background-color: green;
	cursor: pointer;
}

.green:hover{
	background-color: blue;
}

